*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --max-size-eps: 70vh;
}

aside a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: .75s;
    color: ;
}

.icon-edit {
    display: flex;
    gap: 10px;
    margin-top: 10px  ;
    top: 100px;
}

a svg {
    margin-right: 10px;
    color: red;
}

li>a {
    text-decoration: none;
    color: #000000;
    transition: .3s;
}

li>a:hover {
    transform: scale(1.05);
    color: #333;
}

.cont {
    background: rgb(50, 50, 50);
    height: 100vh;
}

.bars {
    position: relative;
}

.cont>aside {
    background: rgb(35, 35, 35);
    overflow: hidden;
    width: max-content;
    min-width: 125px;
    transition: 0.75s;
    transition-timing-function: ease;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, black, transparent 80%);
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

.title {
    width: min-content;
}

a>img {
    width: 80px;
}

.back-cinema {
    background: url('../img/cinema-back.jfif') 1%;
    font-weight: 900;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: .5s;
}

ul>li {
    background: rgb(255, 255, 255);
}

.btn-popcorn {
    width: 25%;
    font-weight: 700;
    font-size: 30px;
    /* text-shadow: 0 5px 7px rgba(255, 255, 255, 0.3); */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
}

.btn-popcorn:hover {
    background: rgb(100, 100, 100);
}

.btn-popcorn:hover .back-cinema {
    color: #fff;
}

input[type="checkbox"] {
    appearance: none; 
    width: 15px;
    height: 15px;
    border: 1px solid #00000050;
    border-radius: 4px; 

}

input[type="checkbox"]:checked {
    background-color: darkred;
    border: none;

}

input ~ label {
    position: absolute;
}

.fa-check {
    color: #fff;
    font-size: 15px;
    position: absolute;
    font-weight: 900;
}

#tempEps {
    max-height: var(--max-size-eps)
}

@keyframes move-image {
    50% {
        background-size: 110%;
    }
}
